.header {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
}

.header a {
    display: flex;
    color: white;
    align-items: center;
    text-decoration: none;
}

.header .title-group {
    padding-left: 5px;
}

.header .title-group i {
    padding-right: 10px;
}