.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    background-color: var(--color-primary);
}

.footer > span {
    font-size: 1rem;
    font-weight: 300;
}